<% if params[:action] == 'search' %>
    <div class="results-block">
        <%= bootstrap_flash %>
    </div>
<% end %>

<% if @users %>
    <div id="friend-lookup-results" class="well results-block col-md-10">
        <table class="search-results-table col-md-12">
            <tbody>
                <% @users.each do |u| %>
                    <tr>
                        <td><strong>Name: </strong><%= link_to u.full_name, "#" %></td>
                        <td><strong>Email: </strong><%= u.email %></td>
                        <td>
                            <% if current_user.not_friends_with?(u.id) %>
                                <%= link_to "Add", add_friend_path(user: current_user, friend: u), method: :post,  class: "btn btn-xs btn-success" %>
                            <% else %>
                                <span class="label label-primary">
                                    Added
                                </span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
