.logout {
    padding-left: 0;
}

.user-name {
    padding-top: 15px;
}

.nav.navbar-right li {
    .btn {
        color: #fff !important;
    }
    .btn-danger:hover {
        background-color: darken(#d9534f, 20%) !important;
    }
}

.nav.navbar-right .logout {
    margin-top: 5px;
}
